<nav class="page-nav">
	<a href="/image-lint/">Home</a>
	<a href="/image-lint/getting-started/">Getting Started</a>
	<a href="/image-lint/docs/">Docs</a>
</nav>
<style>
	.page-nav {
		background: #24292e;
		border-radius: 0.5em;
	}

	.page-nav a {
		display: inline-block;
		padding: 1em 1.4em;
		color: white;
		text-decoration: none;
	}
</style>
