---
import GithubIcon from "./GithubIcon.astro"
---
<nav class="page-nav">
	<a href="/image-lint/">Home</a>
	<a href="/image-lint/getting-started/">Getting Started</a>
	<a href="/image-lint/docs/">Docs</a>
	<a href="https://github.com/AaronAsAChimp/image-lint"><GithubIcon /></a>
</nav>
<style>
	.page-nav {
		background: #24292e;
		border-radius: 0.5em;
	}

	.page-nav a {
		display: inline-block;
		padding: 1em 1.4em 1em 0;
		color: white;
		text-decoration: none;

		&:hover {
			color: var(--color-status-good-light)
		}

		&:first-child {
			padding-left: 1.4em;
		}
	}
</style>
