@import "../css/variables.css";

.lint-results {
	position: relative;
}

.lint-results-bar {
	display: flex;

	& :first-child {
		flex: 1 0 auto;
	}
}

.lint-results-clear {
	background: transparent;
	color: var(--color-status-good-light);
	border: 1px solid var(--color-status-good-light);
	border-radius: 0.4em;
	flex: 0.1 0 auto;
	font-size: 0.8em;
	cursor: pointer;
}

.lint-drop-target {
	height: 30em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lint-result {
	margin: 15px 0px;
	background: var(--color-layer-bg);
	padding-bottom: 1px; /* Prevent margin-collapse */
	border-radius: 8px;
	overflow: hidden;
}

.lint-result .lint-result-summary {
	background: var(--color-status-unknown);
	padding: 10px 10px 10px 18px;
}

.lint-result.has-results .lint-result-summary {
	background: var(--color-status-good);
	padding: 10px 10px 10px 18px;
}

.lint-result .lint-result-summary.lint-warn {
	background: var(--color-status-warn);
}

.lint-result .lint-result-summary.lint-error {
	background: var(--color-status-failure);
}

.lint-result.has-error .lint-result-summary {
	background: var(--color-status-error);
}

.lint-result.has-error .upload-progress,
.lint-result.has-results .upload-progress {
	display: none;
}

.lint-result-output {
	font-family: monospace;
	white-space: pre-wrap;
	margin: 10px 10px 10px 18px;
	display: block;
}