@import "@fontsource/lato/300.css";
@import "@fontsource/lato/400.css";

@import "./variables.css";

body {
	font-family: "Lato", sans-serif;
	color: var(--color-bg-contrast);
	background: var(--color-bg);
	margin: 0;
}

.image-lint-app {
	display: grid;
	grid-template-columns: 16em 1fr;
}

.pane {
	padding: 20px;
}

.pane-options {
	background: var(--color-layer-bg);
	max-width: 450px;
}

.lint-header {
	background: var(--color-status-good);
	color: var(--color-status-good-contrast);
	padding: 20px;
}

.lint-header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: baseline;
}

.lint-title {
	display: inline-block;
	font-weight: 300;
	font-size: 36px;
	margin: 0;
}

.lint-subtitle {
	display: inline-block;
	font-weight: 300;
	font-size: 18px;
	margin: 0 0 0 15px;
}

.lint-options-title {
	margin-top: 0;
}

.lint-option {
	display: block;
	margin: 1.1em 0;
	line-height: 1.3;
}

.lint-option-check {
	display:  grid;
	grid-template-columns: 1.4em auto;
	gap: 0.4em;
}

.lint-option-check [type=checkbox] {
	align-self: start;
	height: 1.4em;
}

.lint-option-number,
.lint-option-array {
	display: flex;
	flex-direction: column;
}

.lint-option-number [type=number],
.lint-option-array .multiselect {
	margin-top: 0.4em;
	font-size:  1em;
	padding:  0.2em;
}
