<!DOCTYPE html>
<html>
<head>
	<title>image-lint - Find broken or poorly compressed images.</title>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-multiselect@2.0.0-beta.14/dist/vue-multiselect.min.css"></style>
	<link rel="stylesheet" type="text/css" href="./css/site.css" />
</head>
<body>
	<header class="lint-header">
		<hgroup>
			<h1 class="lint-title">image-lint</h1>
			<h2 class="lint-subtitle">Find broken or poorly compressed images.</h2>
		</hgroup>
	</header>
	<form class="image-lint-app">
		<div class="pane pane-options">
			<h3>Options</h3>

			<label class="lint-option">
				<input type="checkbox" v-model="option.mismatch" />
				Find mismatches between file type and file extension.
			</label>

			<label class="lint-option">
				<input type="checkbox" v-model="option.duplicate" />
				Find files that have been copied.
			</label>
			
			<label class="lint-option">
				Set the maximum bytes per pixel before giving a warning.
				<input type="number" v-model="option.bytes_per_pixel" step="0.1" min="0" />
			</label>

			<label class="lint-option">
				Set the minimum byte savings before giving a warning.
				<input type="number" v-model="option.byte_savings" min="0" />
			</label>

			<div class="lint-option option-array">
				<p>Set the allowed color spaces.</p>

				<vue-multiselect v-model="option.color_space" :multiple="true" :options="available.color_space" />
			</div>
		</div>
		<div class="pane pane-dropzone">
			<dropzone v-model="new_files" v-on:input="add_files">
				<div v-if="files.length">
					<button type="button" v-on:click="clear_finished">Clear Results</button>
					<ul class="lint-results">
						<li v-for="image in files" class="lint-result" v-bind:class="{ 'has-error': image.has_error(), 'has-results': image.has_results() }">
							<details open>
								<summary class="lint-result-summary" v-bind:class="{ 'lint-error': image.results && image.results.count.error, 'lint-warn': image.results && image.results.count.warn }">
									{{ image.file.name }}
									<!--<progress class="upload-progress" v-bind:value="image.progress" max="1"></progress>-->
									<progress-bar class="upload-progress" v-bind:value="image.progress"></progress-bar>
									<span v-if="image.has_results()"> - 
										<span v-if="image.results.count.info">Info: {{ image.results.count.info }}</span>
										<span v-if="image.results.count.warn">Warnings: {{ image.results.count.warn }}</span>
										<span v-if="image.results.count.error">Errors: {{ image.results.count.error }}</span>
									</span>
								</summary>
								<output class="lint-result-output" v-if="image.has_results()" v-html="image.results.log"></output>
							</details>
						</li>
					</ul>
				</div>
			</dropzone>
		</div>
	</form>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-multiselect@2.0.0-beta.14"></script>
	<script src="https://unpkg.com/ansi_up"></script>
	<script src="https://use.typekit.net/jng0woc.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<script>
		const Multiselect = VueMultiselect.default;

		Vue.component('vue-multiselect', Multiselect);
		Vue.component('dropzone', {
			'props': {
				'value': Array
			},
			'template': '<div class="drop-target" ref="dropzone" v-on:drop="drop" v-on:dragover="dragover" v-on:dragenter="dragenter" v-on:dragleave="dragleave"><slot>Drop files here</slot></div>',
			'methods': {
				'files': function* (dt) {
					let files = [];

					if (dt.items) {
						for (let i of dt.items) {
							yield i.getAsFile();
						}
					} else {
						yield* dt.files;
					}
				},
				'drop': function (e) {
					console.log('drop');

					e.preventDefault();
					this.$refs.dropzone.classList.remove('active');

					for (let file of this.files(e.dataTransfer)) {
						this.value.push(file);
					}

					this.$emit('input', this.value);
				},
				'dragenter': function () {
					this.$refs.dropzone.classList.add('active');
				},
				'dragleave': function () {
					this.$refs.dropzone.classList.remove('active');
				},
				'dragover': function (e) {
					e.preventDefault();
				}
			}
		});

		Vue.component('progress-bar', {
			'props': {
				'value': Number
			},
			'template': '<div class="progress-container"><div class="progress-bar" v-bind:style="{ width: this.progress() }"></div></div>',
			'methods': {
				progress: function () {
					return (this.value * 100) + '%';
				}
			}
		})

		class ImageContainer {
			constructor(file) {
				this.file = file;
				this.xhr = null
				this.progress = 0;
				this.results = null;
				this.error = null;
			}

			check(options) {
				this.xhr = new XMLHttpRequest();

				this.xhr.responseType = 'json';
				this.xhr.onload = this._load.bind(this);
				this.xhr.onerror = this._error.bind(this);
				this.xhr.upload.onprogress = this._progress.bind(this);
				this.xhr.open('POST', '/api/image/check/');
				this.xhr.send(this._form(options));
			}

			has_finished() {
				return this.results !== null || this.error !== null;
			}

			has_error() {
				return this.error !== null;
			}

			has_results() {
				return this.results !== null;
			}

			_form(options) {
				let form = new FormData()

				form.append('file', this.file);

				for (let name in options) {
					let value = options[name];

					if (Array.isArray(value)) {
						value = value.join(',');
					}
					
					form.append(name, value);
				}

				return form;
			}

			_load(e) {
				console.log(e, this.xhr);
				if (this.xhr.status > 0 && this.xhr.status < 400) {
					this.results = this.xhr.response.results[0];

					this.results.log = ansi_up
						.ansi_to_html(this.results.log.trim());
						// .replace('\n', '<br />');

					this.xhr = null;
				} else {
					this._error(e);
				}
			}

			_error(e) {
				console.error(e);

				this.error = e;
			}

			_progress(e) {
				this.progress = e.loaded / e.total;
			}
		}

		var app = new Vue({
			'el': '.image-lint-app',
			'data': {
				'support': {},
				'available': {
					'color_space': ['G', 'RGB', 'CMYK', 'YCbCr', 'YCCK', 'LAB', 'HSV']
				},
				'option': {
					'mismatch': true,
					'duplicate': true,
					'bytes_per_pixel': 3,
					'byte_savings': 500,
					'color_space': ['G', 'RGB']
				},
				'new_files': [],
				'files': []
			},
			'methods': {
				'clear_finished': function () {
					this.files = this.files.filter((image) => {
						return !image.has_finished();
					});
				},
				'add_files': function (files) {
					while (files.length) {
						let file = files.shift(),
							container = new ImageContainer(file);

						this.files.push(container);

						container.check(this.option);
					}
				}
			}
		})
	</script>
</body>
</html>
